<!DOCTYPE html>
<html>
<head>
    <title>Classes & Activities</title>
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    
    <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <script src="https://unpkg.com/vue"></script>
    <!-- <script src="products.js"></script> -->
</head>

<body>
    <div id="app"> <!-- Vue's element name -->
        <header>
            
            
            <button class="buttoncheckout" @click='showCheckout' v-if='isHideCart'> <!-- @click or v-on - the same -->
                {{this.cart.length}}
                <span class="fa fa-cart-plus"></span> <!-- cart logo -->
                <button class="backtomenu" @click="showCheckout" v-if="!showProduct">Back</button>
            </button>
            
            
        </header>
        <main>
        <div v-if='showProduct'>
            <h1 v-text="sitename"></h1>

            <div class="filters">
                <input type="checkbox" id="titleFilterAscending" value="titleFilterAscending" v-model="titleFilterAscending">
                <label for="titleFilterAscending">Title Ascending </label>
                <input type="checkbox" id="titleFilterDescending" value="titleFilterDescending" v-model="titleFilterDescending">
                <label for="titleFilterDescending">Title Descending </label>
                
                <input type="checkbox" id="locationFilterAscending" value="locationFilterAscending" v-model="locationFilterAscending">
                <label for="locationFilterAscending">Location Ascending</label>
                <input type="checkbox" id="locationFilterDescending" value="locationFilterDescending" v-model="locationFilterDescending">
                <label for="locationFilterDescending">Location Descending</label>

                <input type="checkbox" id="priceFilterAscending" value="priceFilterAscending" v-model="priceFilterAscending">
                <label for="priceFilterAscending">Price Ascending</label>
                <input type="checkbox" id="priceFilterDescending" value="priceFilterDescending" v-model="priceFilterDescending">
                <label for="priceFilterDescending">Price Descending</label>
            </div> 

            

            <div v-for="product in sortedProducts">

                <div class="form">
                    <figure>
                        <img class="image1" v-bind:src="product.image"> <!-- pulls image source -->
                    </figure>
                    <h2 v-text="product.title"></h2> 
                    <form class="review">
                        <span v-for='n in product.rating'>★</span>
                        <span v-for='n in 5-product.rating'>☆</span>
                    </form>
                    <p v-html="product.description"></p>
                    <p class="inventory"><strong>Classes Available:</strong>
                        {{product.availableInventory - cartCount(product.id)}}
                    </p>
                    <p><strong>Location:</strong> {{product.location}}</p>

                    <p class="price">Price: £{{product.price}}</p>

                    <button class="buttoncart" 
                        v-on:click='addToCart(product)'
                        v-if='canAddToCart(product)'>
                        Add To Cart
                    </button>

                    <button class="buttoncartfull" disabled='disabled' v-else>
                        We only have {{product.availableInventory}} available
                    </button>
                    <span v-if='product.availableInventory === cartCount(product.id)'>
                        All out!
                    </span>
                    <span v-else-if='product.availableInventory - cartCount(product.id) < 6'>
                        Only {{product.availableInventory - cartCount(product.id)}} left.
                    </span>
                    <span v-else>
                        Buy now!
                    </span>

                    
                </div>
            </div>
        </div>

        <div v-else class="checkout">


            <h2>Checkout</h2>

            <p><input type="checkbox" id="gift" value="true" 
                v-model="order.gift"
                v-bind:true-value="order.sendGift"
                v-bind:false-value="order.dontSendGift"> Gift? </p>

            <p><input type="radio" id="home" value="Home" v-model="order.method"><label for="home">Home</label> 
            <input type="radio" id="business" value="Business" v-model="order.method"> 
            <label for="business">Business</label></p>

            
            <p><strong>First Name:</strong>     <input placeholder="Name" v-model="order.firstName">
            <label v-if="!nameValid">Letters Only!</label></p>
            <p><strong>Last Name:</strong>      <input placeholder="Last Name" v-model="order.lastName"/></p>
            <p><strong>Phone:</strong>          <input placeholder="+44.." v-model="order.phone"/>
            <label v-if="!phoneValid">0-9 and + Only!</label></p>
            <p><strong>Address:</strong>        <input placeholder="Adress" v-model="order.address"/></p>
            <p><strong>City:</strong>           <input placeholder="City" v-model="order.city"/></p>
            <p><strong>Post Code:</strong>      <input placeholder="Post Code" v-model="order.zip"/></p>

            <p><strong>State:</strong>
                <select  v-model="order.state">
                <option disabled value="">State</option>
                <option v-for="(state, key) in states"
                    v-bind:value="state">
                        {{key}}
                </option>
                </select></p>

            

            <div class="orderInformation">
                <h2>Order Information</h2>
    
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Zip: {{order.zip}}</p>
                <p>State: {{order.state}}</p>
                
                <p id="gift" value="true" v-bind="order.dontSendGift"><label v-text: for="gift">{{order.gift}}</label></p>
            </div>
            <button class="submitButton"v-on:click="submitForm" :disabled="!isDisable">Place Order</button>
        </div>
        </main>
    </div>
    <script src="vue.js"></script> 
</body>
</html>